

header{
  position: sticky;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: white;
  color: black;

  div{
    
    display: inline-flex;
    flex-wrap: nowrap;
    
    button{
      background-color: blue;
      padding: 5px;
    }
  }
}

body{
  color: white;
  background-color: black;
}

tr{
  border-color: white;
  background: black;
}

/* Styling for the portrait */
#portrait{

}
