/*Declare CSS Variables */
:root{
  /* BG parallax */
  --bgposY: 0px;
  --mposY: 0px;
  --fgposY: 0px;
  /* nav bar */
  
  --navDisplay:none;
  --titleDisplay:visible;
}

/* Custom Fonts */
@font-face {
    font-family: 'SloppyJoe'; /* name to use later */
    src: url('../Resources/SloppyJoe-Regular.ttf');
}

html{
  image-rendering:pixelated;
  background-image: url("../Resources/DirtBG.png");
  background-position: 0px var(--bgposY);
  background-color: rgb(150, 150, 150);
  background-attachment: fixed;
  background-size: 15%;
}

body{
  color: white;
  padding: 0;
  margin: 0;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;

  /*text & font*/
  font-size: 2.5vw;
  font-family: 'Courier New', Courier, monospace;
}


header{
  width:100%;
  margin:0;
  padding:0;
  display: flex;
  position: sticky;
  top:0px;
  font-size: 4vw;
  text-align: center;
  color:black;
  background-color: white;
  padding-left: 0vw;
  justify-content: right;
  
  h2{
    font-family: 'SloppyJoe', 'Brush Script MT', 'Arial';
    width: 100%;
    margin:0px;
  }

  nav{
    justify-content: space-evenly;
    display: flex;
    flex-wrap:nowrap;
    width: 60%;
    height: auto;
    padding:0px;
    margin:0px;
  }
}



/* button styling */
button{
  border-style: none;
  font-size: 2.5vw;
  height: 100%;
  width: 100%;
  background-color:azure;
  color: black;
}
button:hover{
  background-color: beige;
}
button:active{
  background-color:rgb(221, 221, 183);
}
.buttonContainer{
  text-wrap-mode: nowrap;
  padding:0px;
  margin:0px;
  width: 100%;
}

#waffle{
  color:black;
  background: url("../Resources/Waffle.png");
  background-size: 100%;
  background-color: white;
  image-rendering: pixelated;
  align-self: center;
  display: none;
  height: 9vw;
  width:9vw;
  position:absolute;
  left: 0px;
}


div{
  border-radius: 2vw;
  margin:2vw;
  padding:2vw;
  background-color: rgb(166, 135, 96);
  text-align: left;
}

#P8Window{
  width:60vw;
  height: 50vw;
}


/* page title */
h1 {
  font-size: 8vw;
  text-shadow: 0px 1vw 0.5vw rgba(0,0,0,0.5);
}

h3{
  font-size: 4vw;
  text-align: center;
}

p{
  text-indent: 5vw;
}

/* Styling for all images (portrait comes next)*/
figure{
  /*margin: 10vh auto auto auto;/*center*/
  /*display:;*/
  width:20%;
  margin:0;
  image-rendering:auto;
}
figcaption{
  font-size: 1vw;
  color: gainsboro;
}
img{
  border-radius: 2vw;
  width:100%;
}

footer{
  width:100%;
  box-shadow:0px -3vw 5vw rgba(0,0,0,0.5);
  color: whitesmoke;
  background-color: rgb(77, 89, 97);
  padding-bottom: 3vh;
  margin-top: 10%;
}

strong{
  font-weight: bold;
}

/* link styling & button containers */
a{
  color:rgb(144, 255, 255);
  text-decoration: none;
}

/* for links to other sites */
a[href*="http"]{
  text-decoration: underline;
}



/* Determine screen mode (mobile vs. desktop) */
/* instead of just guessing based of a media query for screen size, we instead use js to check
if the screen is taller or wider. If it is taller, use mobile. otherwise, use desktop */
html.mobile {

  
  background-size: 30%;
  
  body{
    background-size:30%;
    font-size: 4vw;
  }
  #fg{
    background-size:50%;
  }

  #helloBox {
    flex-direction: column-reverse;
  }
  header{
    font-size: 9vw;
  }
  header>nav{
    display: var(--navDisplay);
    width:90%;
  }
  #waffle{
    display:block;
  }
  header>h2{
    visibility: var(--titleDisplay);;
  }
  /* on smaller screens, give buttons a small outline, so it is easier to see where one button
  begins and the other ends */
  button{
    border-width: 0.25vw;
    border-color: black;
    border-style:solid;
  }
  figcaption{
    font-size: 2vw;
  }
  footer{
    font-size: 3.5vw;
  }
}